body{
    background-color: grey;
}

/*smartphones layalout*/
@media screen and (min-width: 0px) {

img{
  width:200px;
  height:200px;
  border:none;
  background-color: white;
}

#card{
  width: 300px;
  display: block;
  margin: auto;
  transform: translate(50px,120px);
}


h1{
    font-family: sans-serif;
    font-size:40px;
    transform: translate(-40px,0px);
}

.links{
    font-size: 20px;
}

#links_div{
    transform: translate(50px,225px);
}


h2{
    transform: translate(70px,170px);
    font-size: 30px;
}
}

/*--*/
@media screen and (min-width: 600px) {
#face-img{
  width:800px;
  height:600px;
  border:none;
  background-color:#fff;
}

#card{
  display: flex;
  width: 1490px;
  transform: translate(-100px,120px);
}

h1{
  transform: translate(30px,-20px);
  font-family: sans-serif;
  font-size:100px;
}


.links{
    font-size: 50px;
}

#links_div{
    transform: translate(0px,240px);
}


h2{
    transform: translate(0px,170px);
    font-size: 30px;
}
}


 